@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackheart {
  margin-right: 20px;
  width: 1rem;
}

.magnifying-glass {
  margin-right: 20px;
  width: 1rem;
}

.logo-NPM {
  margin-right: 20px;
  width: 3rem;
}